name: push Trigger Workflow

### Executa apenas em Push
on:
  push:
    branches:
      - main
      - develop
    paths: 
      - 'src/**' #criar esses arquivos para funcionar 
      - 'README.md' #criar esses arquivos para funcionar
    
jobs:
  push-job:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Codigo
        uses: actions/checkout@v4

      - name: Informacoes do Push
        run: |
          echo "Workflow disparado por push"
          echo "commit: ${{ github.sha }}"
          echo "Autor: ${{ github.actor }}"
          echo "Branch: ${{ github.ref_name }}"
          echo "Repositorio: ${{ github.repository }}"

      - name: Listar arquivos modificados
        run: |
          echo "Arquivos no repositorio:"
          ls -la