name: Hello Github Actions

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:

  jobs:
    hello-job:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Codigo
        uses: actions/checkout@v4

      - name: Executar Hello World
        run: echo "Hello Github Actions"

      - name: Mostrar Informações do Sistema
        run: |
          echo "Sistema Operacional: ${{ runner.os }}"
          echo "Diretorio atual: $(pwd)"
          echo "Data atual: $(date)"
          echo "Usuario: $(whoami)"

      - name: Listar Arquivos do repositorio
        run: ls -la

      - name: Comandos multiplos
        run: |
          echo "Este e o lab 01 do curso de GitHub Actions"
          echo "Workflow executado com sucesso"
          echo "Pronto para os proximos desafios"
          echo "Vamos aprender mais sobre workflow"
          