name: Isssue trigger Workflow
#permissoes para permitir comentarios automaticos
permissions:
  issues: write

on:
  issues:
    types: [opened, edited, closed, labeled]

jobs:
 issue-job:
   runs-on: ubuntu-latest

   steps:
      - name: Informacoes de issue
        run: |
          echo "Workflow disparado por issue"
          echo "Acao: ${{ github.event.action }}"
          echo "Issue: ${{ github.event.issue.number }}"
          echo "Titulo: ${{ github.event.issue.title }}"
          echo "Autor: ${{ github.event.issue.user.login }}"
          echo "Labels: ${{ github.event.issue.labels.*.name,', ') }}"

      - name: Resposta autmatica (nova issue)
        if: github.event.action == 'opened'
        uses: actions/github-script@v7
        with:
          script: |
            github.rest.issues.createComment({
              issue_number: context.issue.number,
              owner: context.repo.owner,
              repo: context.repo.repo,
              body: "Obrigado por reportar esta issue! Nossa equipe ira analisar em breve."
            })
      